
.v-applictaion {
  background: none !important;
}
.v-application__wrap{
  background-color: none !important;
}
#id{
  background-color: none !important;
}

::-webkit-scrollbar {
  width: 8px; /* Set width of scrollbar */
  height: 5px; /* Set height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  /* border-radius: 10px; */
  scrollbar-width: thin;
    display: none;


}

::-webkit-scrollbar-thumb {
  background: #4c4cc6; /* Thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
  display: none;
  /* Thumb color on hover */
} 
